@use './../helpers' as *;

.about-us {
	font-family: var(--font-family-secondary);
	
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(12);
		align-items: stretch;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__tile:nth-child(5) {
		@include mobile-above {
			grid-column: 1 / 3;
		}

		@include tablet-above {
			grid-column: 2 / 4;
		}
	}
}
