@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/button';
@use './blocks/social';
@use './blocks/logo';
@use './blocks/header';
@use './blocks/section';
@use './blocks/card';
@use './blocks/hero';
@use './blocks/about-us';
@use './blocks/footer';
